{{define "doener"}}
<div class="col-sm-12 col-md-12 col-lg-4">
    <img src="images/01.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collapsedoener" aria-expanded="false"
        aria-controls="collapsedoener">
    <div class="collapse" id="collapsedoener">
        <div id="divc">
            <div id="pdl">
                <form action="/doener">
                    <br>
                    <input type="text" class="form-control" name="kuerzel" placeholder="Kürzel eingeben">
                    <br>
                    <div class="row">
                        <div id="nomg" class="col-sm-12 col-md-6 col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Soße</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td type="checkbox">
                                        <input type="checkbox" name="sosse1" value="Knoblauch">Knoblauch</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="sosse2" value="Kraeuter">Kräuter</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="sosse3" value="Scharf">Scharf</td>
                                </tr>
                            </table>
                        </div>
                        <div id="nomg" class="col-sm-12 col-md-6 col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Salat</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="salat1" value="Zwiebeln">Zwiebeln</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="salat2" value="Rotkohl">Rotkohl</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="salat3" value="Tomaten">Tomaten</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="salat4" value="Ohne salat">ohne Salat</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <input type="text" class="form-control" name="anmerkung" placeholder="Platz für Anmerkungen">
                    <input type="hidden" name="gericht" value="Doener">
                    <input type="hidden" name="preis" value="3.50">
                    <div class="text-center">
                        <input class="btn btn-primary btn-lg" type="submit" value="Bestellen">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}