<!doctype html>
<html lang="en">

<head>
    <title>Doener-Board</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    {{template "nav"}}
    <div id="mgtop" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <table id="tabelcollor" class="table border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gericht</th>
                            <th>Soße</th>
                            <th>Salat</th>
                            <th>Anmerkung</th>
                            <th>Preis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key, $doener := .Doener}}
                        <tr>
                            <td>{{$doener.Kuerzel}}</td>
                            <td>{{$doener.Gericht}}</td>
                            <td>{{$doener.Sosse1}} {{$doener.Sosse2}} {{$doener.Sosse3}}</td>
                            <td>{{$doener.Salat1}} {{$doener.Salat2}} {{$doener.Salat3}}</td>
                            <td>{{$doener.Anmerkung}}</td>
                            <td>{{$doener.Preis}}</td>
                        </tr>
                        {{end}}
                    </tbody>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <table id="tabelcollor" class="table border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gericht</th>
                            <th>Soße</th>
                            <th>Salat</th>
                            <th>Anmerkung</th>
                            <th>Preis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key, $tuerkischepizza := .Tuerkischepizza}}
                        <tr>
                            <td>{{$tuerkischepizza.Kuerzel}}</td>
                            <td>{{$tuerkischepizza.Gericht}}</td>
                            <td>{{$tuerkischepizza.Sosse1}} {{$tuerkischepizza.Sosse2}} {{$tuerkischepizza.Sosse3}}</td>
                            <td>{{$tuerkischepizza.Salat1}} {{$tuerkischepizza.Salat2}} {{$tuerkischepizza.Salat3}}</td>
                            <td>{{$tuerkischepizza.Anmerkung}}</td>
                            <td>{{$tuerkischepizza.Preis}}</td>
                        </tr>
                        {{end}}
                    </tbody>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <table id="tabelcollor" class="table border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gericht</th>
                            <th>Pommes</th>
                            <th>Soße</th>
                            <th>Salat</th>
                            <th>Anmerkung</th>
                            <th>Preis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key, $doenerbox := .Doenerbox}}
                        <tr>
                            <td>{{$doenerbox.Kuerzel}}</td>
                            <td>{{$doenerbox.Gericht}}</td>
                            <td>{{$doenerbox.Pommes}}</td>
                            <td>{{$doenerbox.Sosse1}} {{$doenerbox.Sosse2}} {{$doenerbox.Sosse3}}</td>
                            <td>{{$doenerbox.Salat1}} {{$doenerbox.Salat2}} {{$doenerbox.Salat3}}</td>
                            <td>{{$doenerbox.Anmerkung}}</td>
                            <td>{{$doenerbox.Preis}}</td>
                        </tr>
                        {{end}}
                    </tbody>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>